<form novalidate fxLayout="row" fxLayoutAlign="start center" [style.height]="'80px'" [formGroup]="form">

  <mat-icon [style.marginRight]="'20px'">vpn_key</mat-icon>

  <mat-input-container [style.width]="'100%'" floatingPlaceholder="false">
    <input matInput type="text" formControlName="code" placeholder="Confirmation Code">
    <mat-hint [style.color]="'red'" align="end">
      <div *ngIf="validator$ | async; let validator">
        <span *ngIf="!validator.isValid">{{ validator.errMsg }}</span>
      </div>
    </mat-hint>
  </mat-input-container>

</form>
