<form novalidate fxLayout="row" fxLayoutAlign="start center" [style.height]="'80px'" [formGroup]="form">

  <mat-icon [style.marginRight]="'20px'">phone</mat-icon>

  <mat-select [style.marginRight]="'10px'" formControlName="countryNameCode">
    <mat-option *ngFor="let content of selectContent" [value]="content.value"> {{ content.viewValue }} </mat-option>
  </mat-select>

  <mat-form-field [style.width]="'100%'" floatingPlaceholder="false">
    <input matInput type="tel" formControlName="localNumber" placeholder="{{ localNumberPlaceholder$ | async }}">
    <mat-hint [style.color]="'red'" align="end">
      <div *ngIf="validator$ | async; let validator">
        <span *ngIf="!validator.isValid">{{ validator.errMsg }}</span>
      </div>
    </mat-hint>
  </mat-form-field>

</form>
